{% extends "email/base.html" %}
{% load i18n %}

{% block email_title %}{% trans 'Account Approved' %}{% endblock %}
{% block header_title %}{% trans 'Account Approved' %}{% endblock %}

{% block email_content %}
    <p>{% trans 'Hello' %} {{ username }},</p>
    <p>{% trans 'Great news! Your account has been approved by an administrator.' %}</p>
    <p>{% trans 'You can now log in to your account and access all features of the ASCAI Lazio platform.' %}</p>
    <div class="button-wrap">
        <a href="{{ login_url }}" class="button">{% trans 'Log In to Your Account' %}</a>
    </div>
    <p>{% trans 'Thank you for your patience. We look forward to having you as part of our community!' %}</p>
    <p>{% trans 'If you did not create an account, please ignore this email.' %}</p>
{% endblock %}
